body {
  background: #c4c1e0 !important;
}
.heading {
  font-size: 30px;
  font-weight: bold;
}
.App-header {
  text-align: center;
  margin: 50px 80px;
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
