.Dictionary h5 {
  text-align: center;

  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  font-size: 70px;

  margin: 40px 0 0px 0;
  letter-spacing: 6px;
}

.Dictionary section {
  background-color: white;
  margin: 20px;
  padding: 20px 60px;
  border-radius: 6px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 15px 10px;
  color: #333333bb;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 14px;
  opacity: 0.7;
}

.Dictionary footer {
  text-align: center;
  font-size: 14px;
  margin: 15px;
  color: white;
}

.Dictionary a {
  text-decoration: none;
  color: wheat;
  font-weight: bold;
}

.Dictionary a:hover {
  color: black;
  transition: ease-in-out 350ms;
}

@media (max-width: 800px) {
  .Dictionary h5 {
    font-size: 40px;
    margin: 0;
  }

  .Dictionary section {
    margin: 10px;
    padding: 15px 40px;
  }

  .Dictionary h1 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .Dictionary input {
    padding: 10px 10px;
  }

  .Dictionary .hint {
    font-size: 12px;
    opacity: 0.7;
  }

  .Dictionary footer {
    font-size: 10px;
  }
}
