.Results .word {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0;
}

.Results .phonetic {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
  color: #430f58;
}

@media (max-width: 800px) {
  .Results .word {
    font-size: 25px;
    margin: 10px 0;
  }

  .Results .phonetic {
    font-size: 14px;
    margin: 9px 0;
  }
}
